body {
    background-color: rgb(217, 185, 210);
    font-family: 'verdana', cursive;
    margin: 0;
}

h3 {
    text-align: center;
    width: 90%;
    margin: 0px 60px;
    color: rgba(200, 91, 151, 0.83);
    font-size: 70px;
    letter-spacing: 5px;
    text-shadow: -1px -1px 0px rgb(87, 14, 101), 3px 3px 0px rgb(87, 14, 101), 6px 6px 0px rgb(87, 14, 101);
}

p {
    color: rgb(211, 73, 151);
    font-family: courier;
    font-size: 160%;
    margin: 0px 5px;
    margin-top: 50px;
    font-size: 45px;
    font-family: verdana;
    width: 750px;
    text-align: justify;
}

.container_slider_css {
    margin: 0px auto;
    width: 800px;
    height: 800px;
    overflow: hidden;
    position: relative
}

.photo_slider_css {
    position: absolute;
    animation: round 12s infinite;
    opacity: 0;
    width: 90%;
    margin-left: 30px;
    margin-top: 20px;
    margin-right: 0px;
    text-align: center;
}

@keyframes round {
    25% {
        opacity: 1
    }
    40% {
        opacity: 0
    }
}

img:nth-child(1) {
    animation-delay: 13s
}

img:nth-child(2) {
    animation-delay: 12s
}

img:nth-child(3) {
    animation-delay: 11s
}

img:nth-child(4) {
    animation-delay: 10s
}

img:nth-child(5) {
    animation-delay: 9s
}

img:nth-child(6) {
    animation-delay: 8s
}

img:nth-child(7) {
    animation-delay: 7s
}

img:nth-child(8) {
    animation-delay: 6s
}

img:nth-child(9) {
    animation-delay: 5s
}

img:nth-child(10) {
    animation-delay: 4s
}

img:nth-child(11) {
    animation-delay: 3s
}

img:nth-child(12) {
    animation-delay: 2s
}

img:nth-child(13) {
    animation-delay: 1s
}

img:nth-child(14) {
    animation-delay: 0s
}

.podval {
    background-color: rgb(182, 31, 149);
    height: 300px;
    width: 900px;
    margin-top: 20px;
}

.pomogite {
    margin-left: 200px;
}