body {
    background-color: rgb(217, 185, 210);
    font-family: 'verdana', cursive;
}

h3 {
    text-align: center;
    width: 100%;
    margin: 0px auto;
    color: rgba(200, 91, 151, 0.83);
    font-size: 70px;
    letter-spacing: 5px;
    text-shadow: -1px -1px 0px rgb(87, 14, 101), 3px 3px 0px rgb(87, 14, 101), 6px 6px 0px rgb(87, 14, 101);
}

h1 {
    color: rgb(213, 32, 135);
    font-family: verdana;
    font-size: 300%;
}

p {
    color: rgb(211, 73, 151);
    font-family: courier;
    font-size: 160%;
    margin: 0px auto;
    margin-top: 110px;
    text-align: center;
    font-size: 45px;
    font-family: verdana;
}

.container_slider_css {
    margin: 50px auto;
    width: 800px;
    height: 800px;
    overflow: hidden;
    position: relative
}

.photo_slider_css {
    position: absolute;
    animation: round 16s infinite;
    opacity: 0;
    width: 100%
}

@keyframes round {
    25% {
        opacity: 1
    }
    40% {
        opacity: 0
    }
}

img:nth-child(1) {
    animation-delay: 12s
}

img:nth-child(2) {
    animation-delay: 8s
}

img:nth-child(3) {
    animation-delay: 4s
}

img:nth-child(4) {
    animation-delay: 0
}

@media(min-width:0px) and (max-width:320px) {
    .container_slider_css {
        width: 80%;
        height: 190px
    }
}

@media(min-width:321px) and (max-width:480px) {
    .container_slider_css {
        width: 80%;
        height: 190px
    }
}